# Ignore dependencies
node_modules

# Ignore build output
dist
build

# Ignore local environment variables
.env
.env.local
.env.*

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore editor and OS files
.vscode
.idea
.DS_Store

# Ignore git
.git